 @font-face {
	font-family: 'Raton';
	src: url(fonts/Kanit-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'Raton';
	src: url(fonts/Kanit-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: 'Raton';
	src: url(fonts/Kanit-Bold.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Text */
body { font-family: "Raton";}

h1 { 
    margin: 0%;
    font-size: 30px;
    color: #000;
}

h2 {
    margin: 0%;
    font-size: 24px;
    color: #fff;
}

p { 
    margin: 0px;
    font-size: 16px;
    color: #FFFFFF;    
}


/* REset et Utlilitaires */
* { box-sizing: border-box; }
img { width : 100%; display: block;}
body{margin: 0;}

/*text decoration*/

a { 
    text-decoration: none;
    color: #fff;

    font-size: 20px;
    font-weight: 500 ;}


/*flex*/

body {
    display: flex;
    flex-wrap: wrap;
}
header {flex: 1 1 100%; 
         display: flex; 
}
main { flex: 1 1 60%; 
}

/*navigation*/

#TopNav {
        flex: 1 1 100%;
        display: flex;
        gap: 4rem;
        justify-content: flex-end;
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 15px;
        background: #02563D;
        border-bottom: 10px solid #B94335;
    }



/* Section d'introduction avec image de fond et logo*/

.introsection {
    width: 100%;
    height: 900px;
    background-image:

    /*degrade sur image*/
    linear-gradient(
      rgba(255, 255, 255, 0), 
      rgba(255, 255, 255, 0), 
      rgb(255, 255, 255)
    ),

    /*image de fond*/
    url(sources/voiture.avif);
    background-size: cover;
    color: black;
    padding: 70px 100px ; 


    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
   

}

/*logo de la marque*/
.intrologo {
    height: 150px;
    width: auto;
}


/* Section ecologie */

.ecologie {
    width: 100%;
    height: 500px;
    background-color: #B94335;
    padding: 70px 100px ;

    display: flex;
    align-items: center;

}

.ecologie-titre {
    height: 100%;
    width: 50%;
}

.photo-ecologie {
    width: auto;
    height: 300px;
    margin-top: 30px;
    border-radius: 15px;
}

.ecologie-texte {
    height: 100%;
    width: 50%;
    gap: 20px;


    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/*section proces avec fond vert et circuit en image de fond*/

.proces {
    width: 100%;
    height: 600px;
    background-color: #02563D;
    padding: 70px 100px ;
    /*image de fond*/
    background-image: url("sources/circuit.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;


}

.proces-titre {
    height: auto;
    width: 50%;

    display: flex;
    align-items: flex-start;
}

.proces-texte {
    height: auto;
    width: 50%;
    gap: 20px;


    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*pied de page*/

footer { 
    flex: 1 1 100%; 
    text-align: center;
    background-color: #B94335;
}